body {
	background-image: url('../images/pattern.gif');
	font-family: 'Open Sans', sans-serif !important;
}

.logo-text {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 100px;
	color: black;
	display: block;
	margin: 60px 0 40px 0;
}

.logo-text,.logo-text:hover,.logo-text:visited {
	text-decoration: none;
	color: white;
}

.logo-text-chapo {
	color: #FF266C;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alert ul {
	list-style: none;
	margin-bottom: 0px;
}

.pointer {
	cursor: pointer;
}

.block {
	display: block;
}

.carousel-control {
	top: 50%;
}

.flags a {
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: block;
	padding: 10px 0 0 10px;
}

.flags .flag-gb {
	background-image: url('../images/flags/gb.png');
}

.flags .flag-fr {
	background-image: url('../images/flags/fr.png');
}

.menu-entries {
	margin-bottom: 10px;
}

.menu-entry a {
	font-size: large;
	padding: 9px 20px 0 20px;
	color: #999;
	text-decoration: none;
	padding: 9px 20px 0 20px;
}

.menu-entry a:hover,.menu-entry .active {
	color: white;
}

.gallery .thumbnail img {
	height: 150px;
}

div.thumbnail:hover {
	border-color: #222;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


/* Bootstrap customization */
.well {
	background-color: transparent;
}

footer {
	border-top: #E9E9E9;
	background-color: #E5E5E5;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 10px;
}

/* fb footer */
.fb-post {
	margin-bottom: 10px;
}

/* fb news page */
.fb-news {
	margin-bottom: 30px;
}