.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alert ul {
	list-style: none;
	margin-bottom: 0px;
}

.pointer {
	cursor: pointer;
}

.block {
	display: block;
}

.flags a {
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: block;
	padding: 10px 0 0 10px;
}

.flags .flag-gb {
	background-image: url('../images/flags/gb.png');
}

.flags .flag-fr {
	background-image: url('../images/flags/fr.png');
}

.gallery .thumbnail img {
	height: 150px;
}

div.thumbnail:hover {
	border-color: #0088cc;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}