<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master">
<body>
	<wicket:panel>
		<div class="fb-post">
			<p wicket:id="fb-content"></p>
			<small>
			<wicket:message key="postedon" />
			<a href="#" wicket:id="fb-link" target="_blank">
				<span wicket:id="fb-postdate"></span>
			</a>
			</small>
		</div>
	</wicket:panel>
</body>
</html>